html {
  box-sizing: border-box;
  font-color: #222;
  font-family: "Crimson Text", serif;
  font-weight: normal;
  line-height: 1.3;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font-size: 1em;
  margin: 0;
  font-color: #555;
}

h1 {
  font-size: 1.5rem;
}

.quote {
  font-size: 1.125rem;
  font-color: #999;
}
